<ion-content class="page-content">
	<div class="overlay-bg"></div>
    <div class="header">
        <img src="assets/icon/logoIcon.png">
        <p class="title">Slim News</p>
    </div>
    <div class="button-grp">
        <button ion-button block class="signin-btn" (click)="navLogin()">Sign In</button>
        <button ion-button block class="signup-btn" (click)="navSignin()">Sign Up</button>
        <p (click)="home()">Skip this step</p>
    </div>
</ion-content>
