<ion-content class="login-content">
  <div class="overlay-bg"></div>
  <div class="header">
    <img src="assets/icon/logoIcon.png">
    <p class="title">Slim News</p>
  </div>
  <form [formGroup]="user" (ngSubmit)="onLogin()">
    <div class="login-wrapper">
      <ion-item class="input-item-username">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="input-item-pass">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <button ion-button block class="signin-btn" type="submit">SIGN IN</button>
      <div class="OR">
        <p class="line">_____________</p>
        <p>OR</p>
        <p class="line">_____________</p>
      </div>

      <button ion-button block class="fb-signin" type="button" (click)="onFacebookLogin()">
        <span class="small">f</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        connect with Facebook
      </button>

      <button ion-button block class="google-signin" type="button" (click)="twitterLogin()">
        <span class="small">t</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        connect with Twitter
      </button>

      <p class="link">Don't Have Account ? <a (click)="navRegister()">Register Now</a></p>

    </div>
  </form>
</ion-content>
