<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Slim News</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="category-content">
  <div class="overlay-bg"></div>
  <div class="title">
    <p>SELECT YOUR</p>
    <P><span>FAVOURITE </span>CATEGORIES</P>

  </div>

  <ion-row class="category-grid">
    <ion-col col-6 class="grid-item-1" (click)="checkBoxToggle(item)" *ngFor="let item of categorItems"
             [style.background]="item.color">
      <div *ngIf="item.icon !='' ">
        <ion-icon class="img-icon" name="{{item.icon}}"></ion-icon>
      </div>
      <div *ngIf="item.icon=='' ">
        <ion-icon class="img-icon" name="images"></ion-icon>
      </div>
      <h4>{{item.title}}</h4>
      <div class="checkBox " *ngIf="item.checkVisible">
        <ion-icon name="checkmark" class="check"></ion-icon>
      </div>
    </ion-col>
  </ion-row>

  <div class="btn-wrapper">
    <button ion-button block class="confirm-btn" (click)="home()">CONFIRM</button>
  </div>

</ion-content>
