page-category {
  .toolbar-background {
    background: $primary !important;
  }
  .toolbar-title {
    color: #fff;
  }
  .category-content {
    background: url('../../assets/img/bgImage.png') no-repeat center;
    background-size: cover;

    .overlay-bg {
      position: fixed;;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
    }

    .title {
      text-align: center;
      font-size: 18px;
      margin: 2em 0em;
      position: relative;
      opacity: .9;
      p {
        margin: 5px;
      }
      span {
        color: $secondary;
        font-weight: 700;
      }
    }

    .category-grid {
      flex-wrap: wrap;
      position: relative;
      .grid-item-1 {
        text-align: center;
        background: $grid1;
        position: relative;
        padding: 12px;
        .img-icon {
          width: 3rem;
          height: 3rem;
          margin-top: 1rem;
          font-size: 35px;
        }
        h4 {
          margin: 1rem 0;
          font-weight: 400;
        }
        .checkBox {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0em;
          right: 0em;
          background-color: rgba(0, 0, 0, 0.6);
          .check {
            position: absolute;
            font-size: 2rem;
            right: 10px;
            top: 10px;
          }
        }
      }
      .grid-item-2 {
        @extend .grid-item-1;
        background: $grid2;
      }
      .grid-item-3 {
        @extend .grid-item-1;
        background: $grid3;
      }
      .grid-item-4 {
        @extend .grid-item-1;
        background: $grid4;
      }
      .grid-item-5 {
        @extend .grid-item-1;
        background: $grid5;
      }

      .grid-item-6 {
        @extend .grid-item-1;
        background: $grid6;
      }
      .grid-item-7 {
        @extend .grid-item-1;
        background: $grid7;
      }
      .grid-item-8 {
        @extend .grid-item-1;
        background: $grid8;
      }
    }
    //category-grid

    .btn-wrapper {
      margin: 0;
      .confirm-btn {
        background: $primary;
        letter-spacing: 1px;
        font-weight: 100;
        margin: 2em 0 0 0;
        border-radius: 0px;
        height: 5rem;
      }
    }

  }

}
