<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="top">
    <ion-icon name="contact"></ion-icon>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label>Email id</ion-label>
      <ion-input type="mail" value=""></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block class="signin-btn" type="submit">Reset Password</button>
</ion-content>
