page-profile {
  .cover {
    height: 180px;
    width: 100%;
  }
  .img {
    display: block;
    margin: -62px auto 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
  }
  .name {
    text-align: center;
    font-size: 2.5rem;
    margin: -23px;
    color: $secondary;

  }
  .email {
    @extend .name;
    font-size: 14px;
    padding: 1em 0px;
    margin: 1em 0px;
  }
  .upload {
    position: relative;
    top: -27px;
    font-size: 2.5em !important;
    color: #da2e4f !important;
  }
  .item {
    border-bottom: 1px solid;
    height: 4em;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .item.item-block .item-inner {
    border-bottom: 0px;
  }
  .label {
    color: $primary !important;
  }
  .login {
    background: url("../assets/img/news-icon.jpg") no-repeat center;
    background-size: cover;
    color: $white;
    .logo {
      width: 86px;
      display: block;
      margin: 0 auto;
      margin-top: 4em;
      padding-bottom: 2em;
    }
  }
  .login-btn {
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    height: 4.4rem;
    background-color: $primary;
  }
  .social-icon {
    width: 86px;
    padding: 0px 20px;
  }
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    font-size: 2.7em;
    font-weight: 700;
    color: white;
    background-color: transparent;
    display: inline-block;
    display: block;
    margin: auto;
    width: 20%;
    text-align: center;
  }
  .toggle .toggle-checked {
    background-color: $grey !important;
  }
  .toggle .toggle-checked .toggle-inner {
    background-color: $primary !important;
  }
  .text-input {

    color: black;
  }
}
