<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="">
    <ion-row>
      <img class="cover" src="assets/img/news-icon.jpg"><br>
    </ion-row>
    <ion-row>
      <img class="img" [src]="url"/><br>
    </ion-row>
    <ion-row>
    <input type="file" name="file" id="file" class="inputfile" aria-describedby="fileHelp" accept="image/*"
           (change)="readUrl($event)">
    <label for="file" class="upload">
        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
    </label>
  </ion-row>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label>Name:</ion-label>
        <ion-input type="text" name="name" id="email"
                   [(ngModel)]="user.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>E-Mail:</ion-label>
        <ion-input type="email" name="card" id="card"
                   [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Mobile:</ion-label>
        <ion-input type="number" name="mobileNumber" id="mobileNumber"
                   [(ngModel)]="user.mobileNumber"></ion-input>
      </ion-item>

    </ion-list>
    <button class="login-btn" ion-button type="submit">Save</button>
  </form>

</ion-content>
