<ion-content class="register-content">
  <div class="overlay-bg"></div>
  <div class="header">
    <img src="assets/icon/logoIcon.png">
    <p class="title">Slim News</p>
  </div>
  <form [formGroup]="registration" (ngSubmit)="onRegistration()">
    <div class="register-wrapper">
      <ion-item class="input-item">
        <ion-input type="text" placeholder="Full Name" formControlName="fullName"></ion-input>
        <ion-icon ios="ios-person-outline" md="md-person" item-right></ion-icon>
      </ion-item>
      <ion-item class="input-item">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-icon ios="ios-mail-outline" md="md-mail" item-right></ion-icon>
      </ion-item>
      <ion-item class="input-item">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon ios="ios-lock-outline" md="md-lock" item-right></ion-icon>
      </ion-item>

      <ion-item class="input-item">
        <ion-input type="number" placeholder="Mobile Number" formControlName="mobileNumber"></ion-input>
        <ion-icon ios="ios-call-outline" md="md-call" item-right></ion-icon>
      </ion-item>

      <button ion-button block class="register-btn" type="submit"
        [disabled]=!registration.valid>REGISTER</button>

      <p class="link">Already Have An Account? <a (click)="navLogin()">Login</a></p>
    </div>
  </form>
</ion-content>
