page-news-detail {
  .toolbar-background {
    background: $black;
  }

  .toolbar-title {
    color: $white;
  }

  .list {
    width: 100%;
  }
  .top-image {
    width: 100%;
    height: 18em;
  }

  .article-content {
    color: #000;
    margin: 2rem;
    text-align: justify;

    .heading {
      font-weight: 600;
      color: $black;
      margin-top: 1rem;
    }
    .sub-heading {
      margin-top: -5px;
      font-size: 12px;
      color: $grey;
    }
  }
  .my-fab {
    background-color: $primary !important;
  }
  .fab-icon {
    position: absolute;
    z-index: 999;
    top: 0 !important;
  }
  .fab-md-in-list {
    color: $primary;
  }
  .top-img-wrapper {
    position: relative;

  }
  .show-comment {
    ion-label {
      white-space: normal;
    }
    .list .item-block .item-inner {
      border-bottom: 0;
    }
    .item {
      border-bottom: 1px solid;
      border-color: rgba(0, 0, 0, 0.1);

    }
    h2 {
      color: $grey;
      font-weight: 700;
    }
    .time {
      float: right;
      color: $grey;
      font-weight: 100;
      font-size: 10px;
    }
    ion-textarea {
      color: $dark;
    }
  }
  .comment-head {
    color: $black;
    padding: 0 0 0 1em;
    font-size: 1.7rem;
    margin: 5px 0;
    font-weight: 700;
  }
  .write-comment {

    .item-input ion-textarea {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgba(0, 0, 0, 0.1);
      color: #777;
    }
    .item {
      padding: 0;
      .item-inner {
        padding: 0;
      }
    }
  }
  .button {
    background-color: $primary;
    width: 100%;
    border-radius: 0;
    margin: .5em 0 0;
  }
  .bookmark-block {
    .bookmark {
      color: $primary;
      position: absolute !important;
      font-size: 2.2em !important;
      float: right;
    }
    .bookmark-clicked {
      @extend .bookmark;
      color: $danger;
    }

  }
}
