<ion-header>
  <ion-navbar>
    <ion-title>My News</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
 <div class="top-img-wrapper">
  <img class="top-image" src={{article.thumb}}>
  <ion-fab top right edge class="fab-icon">
    <button ion-fab mini class="my-fab">
      <ion-icon name="share"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="fbSharing()">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-fab (click)="twitterSharing()">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-fab (click)="googleSharing()">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
      <button ion-fab (click)="whatsAppSharing()">
      <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</div>
  <div class="article-content" text-wrap>
    <ion-row>
     <ion-col col-11>
    <h4 class="heading">{{article.title}}
    </h4>
    </ion-col>
    <ion-col col-1>
    <span class="bookmark-block" (click)="toggleFavourite()">
    <span clear text-center *ngIf="visible">
        <ion-icon name="bookmark" class="bookmark"
         (click)="addBookmark(article.id)"></ion-icon>
    </span>
    <span clear text-center *ngIf="!visible">
         <ion-icon name="bookmark"  class="bookmark-clicked"
         (click)="removeBookmark(article.id)"></ion-icon>
    </span>
    </span>
    </ion-col>
    </ion-row>
    <br>
    <div *ngIf ="article.date >= sevenDaysBack">
          <p class="sub-heading">{{article.date|amTimeAgo }}</p>
    </div>
    <div *ngIf ="article.date <= sevenDaysBack">
          <p class="sub-heading">{{article.date|amCalendar }}</p>
    </div>

    <div [innerHTML]="article.description"></div>
  </div>
</ion-content>
