<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Slim News</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="bg">
  <div *ngIf="showWeather=='true' && weatherList.list">
   <ion-row>
    <ion-card class="weather">
      <ion-card-content>
        <div class="weather-top">
          <div>
              <p class="place" *ngIf="weatherList.list"> <ion-icon name="pin"></ion-icon> &nbsp; {{weatherList.city.country}}</p>
              <p class="city" *ngIf="weatherList.list">{{weatherList.city.name}}</p>
          </div>
          <div *ngIf="weatherList.list">
            <img src="http://openweathermap.org/img/w/{{weatherList.list[0].weather[0].icon}}.png">
              <p class="temp-today" >{{weatherList.list[0].temp.day}}°C
              </p>
          </div>
        </div>
        <ion-row class="days-block">
        <ion-col col-3 class="days"  *ngFor="let weather of weatherList.list; let i=index">
             <div *ngIf="i<=3">
              <p class="">{{weather.dt*1000  | date: 'EEE'}}</p>
            <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png">
              <p class="temp">
                 <span>{{weather.temp.min | number:'2.0-0'}}°</span>&nbsp;
                 <span>{{weather.temp.max | number:'2.0-0'}}°</span>
              </p>
              </div>
              </ion-col>
           </ion-row>

      </ion-card-content>
    </ion-card>
   </ion-row>

   </div>
 <ion-card class="category"  *ngFor="let trending of newsArray">
   <div (click)="newsDetail(trending)">
    <div class="image">
       <img src={{trending.thumb}}>
         <div class="bg-overlay"></div>
    </div>
      <ion-row>
        <ion-col class="cat-time">
         <span class="badge">{{trending.category}}</span>
         <ion-note>
             <span class="time" *ngIf ="trending.date >= sevenDaysBack">
             <ion-icon ios="ios-time" md="md-time"></ion-icon>&nbsp;<span>{{trending.date|amTimeAgo }}</span>
            </span>
            <span class="time" *ngIf ="trending.date <= sevenDaysBack">
             <ion-icon ios="ios-time" md="md-time"></ion-icon>&nbsp;<span>{{trending.date }}</span>
            </span>
         </ion-note>
        </ion-col>
       </ion-row>
       </div>
   <ion-card-content >
    <ion-row>
        <ion-col col-11>
            <p>{{trending.title}}</p>
        </ion-col>
        <ion-col col-1  (click)="share(trending)">
            <ion-icon class="bookmark" name="share"></ion-icon>
        </ion-col>
    </ion-row>
   </ion-card-content>
  </ion-card>
</ion-content>
