page-home {
  .bg {
    background-image: url(../assets/img/home-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .toolbar-background {
    background: $black;
  }
  .menu-btn {
    color: $white;
  }

  .toolbar-title {
    color: $white;
  }

  .weather {
    background: rgba(0, 0, 0, 0.6);
    margin: 10px 10px 0px 10px;
    .card-content {
      padding: 4px 10px;
    }

    .weather-top {
      display: flex;
      justify-content: space-between;
      img {
        width: 36px;
        margin: 0 auto;
      }
    }
    .place {
      color: $white;
      font-size: 2.2rem;
    }
    .city {
      color: $white;
      padding-left: 36px;
      font-weight: 100;
    }
    .temp-today {
      color: $primary;
      font-size: 1.6rem;
    }
  }
  .days-block {
    margin: .5em 0 0 0;
    .days {
      p {
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 100;
      }
      img {
        width: 36px;
        margin: 0 auto;
        display: block;
      }
      .temp {
        font-size: 11px;
        font-weight: 100;
      }
    }
    ion-icon {
      text-align: center;
      display: block;
      font-size: 2.2em;
    }
  }

  .category {

    .image {
      position: relative;

    }
    .cat-time {
      margin-top: -44px;
    }
    .badge {
      background: $dark;
      padding: 6px 12px;
      position: relative;
      opacity: .8;
      font-size: 1.8rem;
      font-weight: 100;
      left: 10px;
    }
    img {
      height: 200px;
    }
    .bg-overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .note {
      position: relative;
      float: right;
      right: 12px;
      padding: 5px;
      background: $dark;
      opacity: 0.8;
      color: $white;
    }
    .card-content {
      padding: 10px 10px 0px 10px;
      .col {
        padding: 0;
      }
      p {
        font-size: 1.2em;

      }
      .bookmark {
        color: $primary;
        float: right;
        font-size: 3rem;
        position: relative;
        top: -8px;

      }
    }
  }
  .newest {
    flex-wrap: wrap;

    .item-2 {
      @extend .item;
      .badge {
        background: $grid1;
      }
    }
    .item-3 {
      @extend .item;
      .badge {
        background: $grid2;
      }
    }
    .item-4 {
      @extend .item;
      .badge {
        background: $grid3;
      }
    }
  }
  .trending {
    flex-wrap: wrap;
    .item {
      padding: 0;
      .card {
        margin: 4px 12px 4px 12px;
      }
      img {
        height: 8em;
      }
      .content {
        color: $black;
        margin: 1rem;
        text-transform: capitalize;
        font-weight: 400;
      }
      .footer {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: 8px;
        color: $grey;
      }
    }
  }
}
