.bar-button-default, .bar-button-clear-default, .bar-button-default {
  color: $white;
  background-color: transparent;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.toolbar-background-ios {
  border: 0;
}

a {
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

.cart-icon-nav {
  position: absolute;
  right: 12px;
  top: -3px;
}

.carts {
  position: absolute;
  top: -3px;
  right: 13px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

ion-badge {
  display: inline-block;
  font-size: 11px;
  padding-top: 5px;
  padding-left: 7px;
}

.menu-badge {
  color: #fff;
  background-color: $primary;
  float: right;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 12px;
  padding-top: 7px;
  padding-left: 7px;
}

.sidebar-menu {
  background-image: url(../assets/img/menu-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .list-md {
    margin: 24px 0 16px 0;
  }
  .menu-bg {
    height: 115px;
    width: 100%;
  }
  .list .item-block .item-inner {
    border-bottom: 0px;
  }
  .item.item-block .item-inner {
    border-bottom: 0px;
  }
  .menu-item {
    background-color: transparent;
    color: #fff;
    height: 3.5em;
    border-bottom: 1px solid;
    border-color: rgba(256, 256, 256, 0.1);
  }
  .img-name-row {
    .user-img {
      max-width: 5em;
      height: 5em;
      border-radius: 50%;
      position: relative;
      top: -42px;
      margin: 0px 5px;
      border: 3px solid;
    }
  }
  .cover {
    background-image: url("../assets/img/news-icon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $primary;
    height: 100px;
  }
  .user-name {
    color: $white;
    font-size: 2rem;
    margin: 0;
  }
}

.toolbar-background {
  background: $primary !important;
}

.toolbar-title {
  color: $white;
}
