<ion-menu persistent="true" [content]="content" class="menu">
  <ion-content class="sidebar-menu">
    <ion-row>
      <ion-col class="cover"></ion-col>
    </ion-row>
    <ion-row class="img-name-row">
      <ion-col col-4>
        <img class="user-img" [src]=url>
      </ion-col>
      <ion-col col-8>
        <p class="user-name">Slim News</p>
      </ion-col>
    </ion-row>
    <button menuClose class="menu-item" ion-item (click)="home()">
      <ion-icon name="home" item-left></ion-icon>
      Home
    </button>
    <button menuClose class="menu-item" ion-item (click)="category()">
      <ion-icon name="apps" item-left></ion-icon>
      Category
    </button>
    <button menuClose class="menu-item" ion-item *ngIf="isLoggedin()" (click)="bookmarks()">
      <ion-icon name="bookmark" item-left></ion-icon>
      Bookmarks
    </button>
    <button menuClose class="menu-item" ion-item *ngIf="isLoggedin()" (click)="profile()">
      <ion-icon name="person" item-left></ion-icon>
      Profile
    </button>
    <button menuClose class="menu-item" ion-item *ngIf="isLoggedin()" (click)="setting()">
      <ion-icon name="settings" item-left></ion-icon>
      Settings
    </button>
    <button menuClose class="menu-item" ion-item *ngIf="!isLoggedin()" (click)="login()">
      <ion-icon name="log-in" item-left></ion-icon>
      Login
    </button>
    <button menuClose class="menu-item" ion-item *ngIf="isLoggedin()" (click)="logout()">
      <ion-icon name="log-out" item-left></ion-icon>
      Logout
    </button>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
