page-bookmarks {
  .bg {
    background-image: url(../assets/img/menu-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h4 {
    text-align: center;
    margin-top: 2em;

  }
  .category {

    .image {
      position: relative;

    }
    .cat-time {
      margin-top: -44px;
    }
    .badge {
      background: $dark;
      padding: 6px 12px;
      position: relative;
      opacity: .8;
      font-size: 1.8rem;
      font-weight: 100;
      left: 10px;
    }
    img {
      height: 200px;
    }
    .bg-overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .note {
      position: relative;
      float: right;
      right: 12px;
      padding: 5px;
      background: $dark;
      opacity: 0.8;
      color: $white;
    }
    .card-content {
      padding: 10px 10px 0px 10px;
      .col {
        padding: 0;
      }
      p {
        font-size: 1.2em;

      }
      .bookmark {
        color: $danger;
        float: right;
        font-size: 3rem;
        position: relative;
        top: -8px;

      }
    }
  }

}
