<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Slim News</ion-title>
  </ion-navbar>

</ion-header>

<ion-content [ngClass]="{bg:!isBookmarks()}">
  <div *ngIf="!isBookmarks()">
    <h4>Bookmark List is empty!</h4>
  </div>

  <ion-card class="category" *ngIf="isBookmarks()">
    <div  *ngFor="let bookmark of bookmarks">
      <div (click)="newsDetails(bookmark.id)">
        <div class="image">
          <img src={{bookmark.thumb}}>
          <div class="bg-overlay"></div>
        </div>
      </div>
      <ion-card-content >
        <ion-row>
          <ion-col col-11>
            <p>{{bookmark.title}}</p>
          </ion-col>
          <ion-col col-1>
            <ion-icon (click)="removeBookmark(bookmark.id)" class="bookmark" name="trash"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
