page-setting {
  .item {
    border-bottom: 1px solid #d5d5d5;
    height: 70px;
    .item-inner {
      border-bottom: 0 !important;
    }
  }
  .label {
    margin: 13px 8px 13px 0;
    color: #222 !important;
    font-size: 1.8rem;
  }
  .select-text {
    color: #222;
  }
}
